
input {
  padding: 5px;
  margin: 5px;
  border: 0.5px solid darkcyan;
  border-radius: 5px;
}

button {
  padding: 5px;
  background-color: azure;
  border: 0.5px solid darkcyan;
  border-radius: 5px;
}

button:hover {
  background-color: darkcyan;
  cursor: pointer;
}

