
* {
  font-family: sans;
}

input {
  padding: 5px;
  margin: 5px;
  border: 0.5px solid grey;
  border-radius: 5px;
}

button {
  padding: 5px;
  background-color: lightgrey;
  border: 0.5px solid grey;
  border-radius: 5px;
}

button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

